<p-dialog
  [header]="isUpdate ? 'Atualizar notificação' : 'Nova notificação'"
  [(visible)]="display"
  [modal]="true"
  [closable]="true"
  [dismissableMask]="true"
  [style]="{ width: '600px', maxWidth: '90vw' }"
>
  <form [formGroup]="formGroup" class="flex flex-column gap-4">
    <div class="flex flex-column gap-1">
      <label class="text-gray-400">Título</label>
      <input
        formControlName="titulo"
        type="text"
        class="p-inputtext border border-gray-300 text-gray-400 rounded-md"
      />
    </div>

    <div class="flex flex-column gap-1">
      <label class="text-gray-400">Descrição</label>
      <textarea
        formControlName="descricao"
        rows="3"
        class="p-inputtext border border-gray-300 text-gray-400 rounded-md"
      ></textarea>
    </div>

    <div class="flex flex-column gap-1" *ngIf="showEquipment">
      <label class="text-gray-400">Equipamento</label>
      <p-select
        [options]="equipmentList"
        optionLabel="modelo"
        optionValue="id"
        formControlName="equipamentoId"
        class="border border-gray-300 text-gray-400"
        placeholder="Selecione"
      >
      </p-select>
    </div>

    <div class="flex gap-2">
      <div class="flex flex-column gap-1">
        <label class="text-gray-400">Data Programada</label>
        <p-datepicker formControlName="dataDiaAlerta" inputStyleClass="w-full" class="border border-gray-300 text-gray-400" dateFormat="dd/mm/yy" />
      </div>
      
      <div class="flex flex-column gap-1">
        <label class="text-gray-400">Hora Programada</label>
        <p-datepicker formControlName="dataHoraAlerta" [timeOnly]="true"  inputStyleClass="w-full" class="border border-gray-300 text-gray-400" dateFormat="dd/mm/yy" />
      </div>
    </div>
  
    <div class="flex flex-column gap-1">
      <label class="text-gray-400">Repetição (em dias)</label>
      <p-inputnumber formControlName="constance" inputId="minmax" mode="decimal" [min]="0" [max]="100" />
    </div>

    <div class="flex gap-1 align-items-center">
      <p-toggleswitch formControlName="status" id="toggle" />
      <label for="toggle">Ativar notificação</label>
    </div>

    <div class="flex justify-end">
      <button
        pButton
        label="Salvar"
        [disabled]="formGroup.invalid"
        class="bg-indigo-600 border-none text-white px-4 py-2 rounded-md"
        (click)="isUpdate ? update() : create()"
      ></button>
    </div>
  </form>
</p-dialog>
